<div>
  <div class="ReseauSocio">
    <div class="ReseauSocio1"></div>
    <a
      href="http://www.marvel-cineverse.fr/pages/mcu/encyclopedie/personnages/black-panther.html"
      ><img
        src="../../../assets/Illustrations/AllPages/icon_facebook.png"
        alt=""
    /></a>
    <a
      href="http://www.marvel-cineverse.fr/pages/mcu/encyclopedie/personnages/black-panther.html"
      ><img
        src="../../../assets/Illustrations/AllPages/icon_instagram.png"
        alt=""
    /></a>
    <a
      href="http://www.marvel-cineverse.fr/pages/mcu/encyclopedie/personnages/black-panther.html"
      ><img
        src="../../../assets/Illustrations/AllPages/icon_twitter.png"
        alt=""
    /></a>
    <a
      href="http://www.marvel-cineverse.fr/pages/mcu/encyclopedie/personnages/black-panther.html"
      ><img src="../../../assets/Illustrations/AllPages/icon_tiktok.png" alt=""
    /></a>
  </div>
</div>

<div class="PageMenu">
  <div>
    <a href="./index.html"
      ><img src="../../../assets/Illustrations/AllPages/footer2.png" alt=""
    /></a>
  </div>
  <nav class="MenuNAve">
    <a routerLink="accueil" routerLinkActive="active">ACCUEIL</a>
    <a routerLink="wakanda" routerLinkActive="active">WAKANDA</a>
    <a routerLink="enigme" routerLinkActive="active">ENIGME</a>
    <a routerLink="eshop" routerLinkActive="active">ESHOP</a>
    <a routerLink="monCompt" routerLinkActive="active">MON COMPTE</a>
  </nav>
</div>
