<footer>
  <div class="cercleMaravel">
    <a href="./index.html"
      ><img src="../../../assets/Illustrations/AllPages/footer2.png" alt=""
    /></a>
  </div>
  <div class="footerRetrover">
    <div class="rangementFooter">
      <div id="enColone">
        <h2>P A G E S</h2>
        <a href="">à propos</a>
        <a href="./Wakanda.html">Wakanda</a>
      </div>
      <div>
        <h2>R E T R O U V E Z N O U S</h2>
        <div id="enLigne">
          <a
            class="zoom10"
            href="http://www.marvel-cineverse.fr/pages/mcu/encyclopedie/personnages/black-panther.html"
            ><img
              src="../../../assets/Illustrations/AllPages/footer3.png"
              alt=""
          /></a>
          <a
            class="zoom10"
            href="http://www.marvel-cineverse.fr/pages/mcu/encyclopedie/personnages/black-panther.html"
            ><img
              src="../../../assets/Illustrations/AllPages/footer4.png"
              alt=""
          /></a>
          <a
            class="zoom10"
            href="http://www.marvel-cineverse.fr/pages/mcu/encyclopedie/personnages/black-panther.html"
            ><img
              src="../../../assets/Illustrations/AllPages/footer4.png"
              alt=""
          /></a>
          <a
            class="zoom10"
            href="http://www.marvel-cineverse.fr/pages/mcu/encyclopedie/personnages/black-panther.html"
            ><img
              src="../../../assets/Illustrations/AllPages/footer5.png"
              alt=""
          /></a>
          <a
            class="zoom10"
            href="http://www.marvel-cineverse.fr/pages/mcu/encyclopedie/personnages/black-panther.html"
            ><img
              src="../../../assets/Illustrations/AllPages/footer6.png"
              alt=""
          /></a>
        </div>
      </div>
    </div>
    <div>
      <p>
        2022 Tous droits réservés Politique de confidentialité Conditions
        d’utilisation
      </p>
    </div>
  </div>
</footer>
