.container-largeur {
    width: 70%;
    margin: 0 auto;
  }
  
  .border-product {
    border: 2px solid white;
    padding: 20px 40px;
    margin-bottom: 15px;
  }

  .container{
    color: white;
  }
  
  button{
    background-color: blue;
    color: white;
    text-transform: uppercase;
    font-style: italic;
    height: 4rem;
    border: none;
    margin: 0% 10% 0% 10%;
    border-radius: 2rem;
}