<div class="contenant">
  <h1>
    Recuperez le flow de <br />
    panther avec notre e-shop!
  </h1>
  <a href=""
    ><img
      src="../../../assets/Illustrations/AllPages/flèche_down_header.png"
      alt=""
  /></a>
</div>

<div>
  <div class="float-end pt-5 pe-5">
    <a href="">
      <img
        class="cartImg"
        src="../../../assets/Illustrations/Accueil/cart-shopping-solid.svg"
        alt=""
      />
    </a>
  </div>
</div>

<section>
  <div class="container mt-5 pt-5">
    <div class="row pt-5">
      <div class="col-md-3">
        <app-aside></app-aside>
      </div>
      <div class="col-md-9">
        <app-products></app-products>
      </div>
    </div>
  </div>
</section>
